* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: hsl(228, 45%, 44%);
}
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
}

form {
	display: flex;
	align-items: flex-start;
	margin-top: 50px;
	text-align: left;
}

.form-control {
	flex: 0.7;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	margin-left: 30px;
	text-align: left;
	display: block;
	visibility: hidden;
	font-style: italic;
	font-weight: 300;
}

.form-control.error small {
	visibility: visible;
}

.main-container {
	display: flex;
	align-items: center;
	height: 100vh;

	flex-direction: column;
	text-align: center;
}

.main-container .logo {
	margin: 40px 0px;
}

.main-container .header {
	color: #969696;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 10px;
}

.main-container span {
	color: #151f29;
	font-weight: 700;
	font-size: 40px;
}

.main-container .subscribe {
	color: #151f29;
	font-weight: 300;
	margin-bottom: 20px;
	font-size: smaller;
}

.form-control input {
	width: 500px;
	margin-right: 10px;
	padding: 1.2rem;
	border-radius: 50px;
	border: 1px solid #969696;
	outline: none;
}

.main-container #btn {
	display: inline-block;
	margin-top: 0px;
  padding: 20px 50px;
  border: none;
	border-radius: 30px;
	outline: none;
	background-color: #4f7df3;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	box-shadow: 3px 5px 5px rgb(194, 211, 255);
}

.main-container #btn:hover {
	opacity: 0.8;
}

.main-container ::-webkit-input-placeholder {
	color: #969696;
	font-weight: 300;
}

.main-container :-ms-input-placeholder {
	color: #969696;
	font-weight: 300;
}

.main-container ::-ms-input-placeholder {
	color: #969696;
	font-weight: 300;
}

.main-container ::placeholder {
	color: #969696;
	font-weight: 300;
}

.main-container .img {
	height: 400px;
	width: 600px;
	margin: 50px;
}

.main-container .social {
	display: flex;
	margin: 20px;
}

.main-container .social .icon {
	border: 0.5px solid #c2d3ff;
	border-radius: 50%;
	width: 40px;
  align-items: center;
  justify-content: center;
	text-align: center;
	margin-left: 10px;
	padding: 10px;
	color: #4f7df3;
}

.main-container .social .icon:hover {
	color: #fff;
	border: 1px solid #4f7df3;
	background-color: #4f7df3;
}

.main-container .copy {
	font-weight: 300;
	color: #969696;
	font-size: smaller;
	margin: 10px;
}

@media screen and (max-width: 650px) {
	form {
		flex-direction: column;
		text-align: center;
		padding-bottom: 20px;
	}

	.form-control {
		width: 100%;
	}

	.form-control input {
		width: 90vw;
		margin-bottom: 10px;
		margin-right: 0;
	}

	#btn {
		margin-top: 0px;
		width: 100%;
	}

	.main-container .img {
		height: 300px;
		width: 400px;
		margin: 50px;
	}
}
